.services-submenu {
  width: 17rem;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  background: #FF2400!important;
  z-index:1;
}

.services-submenu li {
  background: #FF2400!important;
  cursor: pointer;
}

.services-submenu li a:hover {
  background: #f6573f!important;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item
{
  display: block;
  position: relative;
  color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  text-decoration: none;
  margin-right:0% !important ;
}


